@charset "UTF-8";
/* CSS Document */

body {
  background-color: var(--bgcolor);
  color: var(--textcolor);
}

/*-------------------------フォントサイズ等の指定*/ 
body{
  color: rgba(5,5,5,1.00)
  font family: "Nunito Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Helvetica, Arial, Verdana", "Hiragino Kaku Gothic Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro W4", "MS PGothic", sans-serif;
  font-size: 90%;
  text-align:center;
  padding: 0;
  margin: 0;
}

.wapper { 
  width: 1000px;  
  margin: 0 auto;  
  padding: 0;
}

header {
	padding-top: 30px;
	padding-bottom: 0px;
	background: linear-gradient(270deg, #4fffd2, #14cde1, #48e48c);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.info {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	aling-items: center;
	color: black;
}

.info h1 a {
	font-family: 'Comfortaa', cursive;
	text-decoration: none;
	color: black;
	position: absolute;
	left: 150px;
	top: 20px;
	display: flex;
	aling-items: center;
}

.gmenu {
	width: 450px;
	margin-left: auto;
	margin-right: 150px;
	display: flex;
	aling-items: center;
}

.gmenu ul li a {
	text-decoration: none;
	color: black;
}

.gmenu ul {
	list-style: none;
	position: relative; 
	bottom: 14px;
	padding: 0px;
	font-family: 'Comfortaa', cursive;
}

.gmenu ul li a:hover {
	background: rgba(0,0,0,1.00);
	color:#fff;
	padding: 2px;
}

.gmenu li {
	display: inline;
	display: inline-block;
    width: 130px;
}

.keyworks > div > p {
	font-family: 'Comfortaa', cursive;
	position: relative;
	top: 20px;
	left: 0;
	padding: 10px;
	margin-right: 667px;
}

.slideshow_box{
	width:688px;
	height:400px;
	position: relative; 
	
  /*要素内の余白は消す*/
  padding:0;
	margin-top: 40px;
	margin-bottom: 70px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	aling-items: center;
}

.slideshow_box ul li a h2{ 
position: absolute;/*絶対配置*/
color: white;/*文字は白に*/
font-size: 18px;
bottom: 10px;
left: 8px;
background-color:rgba(24,23,23,1.00);
padding-left: 3px;
padding-right: 3px;
}

.slideshow_box ul li p{
    position: absolute;/*絶対配置*/
    color: white;
    font-size: 10px;
    bottom: 50px;
    left: 8px;
    background-color: rgba(24,23,23,1.00);
    padding: 5px;
    font-family: 'Nunito Sans', sans-serif;
}

.clr {
	margin-left:auto;
	margin-right: auto;
}

@media (prefers-color-scheme: dark) {
.clr p a {
	text-decoration: none;
	margin-top: 20px;
	color: #fff;
}
}

@media (prefers-color-scheme: light) {
.clr p a {
	text-decoration: none;
	margin-top: 20px;
	color: #000;
}
}

@media (prefers-color-scheme: dark) {
.clr p a:hover {
	color:#14cde1;
}
}

@media (prefers-color-scheme: light) {
.clr p a:hover {
	color:rgba(3,137,171,1.00);
}
}


.links ul {
	padding: 0;
	list-style-type: none;
	position: relative;
    text-align: center;
    align-items: center;
	display: flex;
    justify-content: center;
}

.links ul a {
	margin-top: 30px;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 100px;
	align-items: center;
}

@media(prefers-color-scheme: dark) {
.links ul a picture :hover{
	filter: invert();
}
}

.labelhidtxt {
	margin-right: 760px;
	font-family: 'Comfortaa', cursive;
	position: relative;
	bottom: 0px;
	padding: 20px;
}

.clr p {
	 font-family: 'Comfortaa', cursive;
}

footer {
	 position: relative;
  bottom: 20px;
	text-align: center;
	aling-items: center;
	font-size: 14px;
	color:  gray;
	font-family: 'Comfortaa', cursive;
}

@media(prefers-color-scheme: dark) {
  body {
    color: #fff;
    background: #212121;
	transition: .7s;
  }
}
